<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main-layout}">
<head>
    <title>Internal Server Error</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="d-flex align-items-center justify-content-center vh-100">
            <div class="text-center">
                <h1 class="display-1 fw-bold">500</h1>
                <p class="fs-3"> <span class="text-danger">Opps!</span> Internal Server Error.</p>
                <p class="lead" th:text="${errorMessage}">
                    Đã có lỗi xảy ra trong quá trình xử lý yêu cầu. Vui lòng thử lại sau.
                </p>
                <p th:if="${detailedError}" class="text-muted small">
                    Chi tiết lỗi: <span th:text="${detailedError}"></span>
                </p>
                <a th:href="@{/dashboard}" class="btn btn-primary">Go Home</a>
            </div>
        </div>
    </div>
</body>
</html>
